*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer a:hover {
  background-color: #a1e9b0f3;
  text-decoration: underline;
}

footer {
  background-color: #074774;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer p {
  font-size: 15px;
  margin: 0 0 10px 0;
}

footer a {
  font-size: 15px;
  text-decoration: none;
  color: #fefefe;
}
/* new headr css */
body {
  font-family: cursive;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #585858;
  overflow-x: hidden;
}

#header {
  background-color: #074774;
  overflow: hidden;
}

.navbar {
  padding: 15px 0;
}

.navbar-brand {}

.navbar a {
  text-decoration: none;
}

h2.logo {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

h2.logo strong {
  font-size: 3rem;
  color: #EDF828;
  font-weight: 600;
}

h2.center-logo {
  margin: 0 25px;
}

#navbarSupportedContent {
  justify-content: center;
}

ul.navbar-nav {}

ul.navbar-nav li.nav-item {
  margin-right: 25px;
}

ul.navbar-nav li.nav-item:last-child {
  margin-right: 0;
}

ul.navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #EDF828;
}

ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #EDF828;
}

/* Service CSS */
.service-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #fff;
  transition: .4s;
  transform: translateY(0);
  cursor: pointer;
  padding-bottom: 10rem;
}

.service-content {
  flex: 1;
  overflow: hidden;
}

.service-content h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(58, 58, 58);
  border-bottom: 1px solid black;
  /* Center the underline on the h3 element */
  position: relative;
  padding-bottom: 0.5em;

  /* Create an absolutely positioned underline that is centered on the h3 element */
  &:after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
}

.service-icon img {
  height: 27vh;
  width: 20vw;
}

.service-content h3:hover {
  color: #106eea;
}

.service-icon img {
  animation: floatImg 4s ease-in-out infinite;
}

@keyframes floatImg {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY(0);
  }
}

#services {
  padding-top: 100px;
  min-height: 100%;
}

.acc {
  padding-top: 75px;
  min-height: 100%;
}

/*contact section CSS */
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.contact3 {
  color: #8d97ad;
  font-weight: 300;
  padding-top: 80px;
}

.contact3 h1,
.contact3 h2,
.contact3 h3,
.contact3 h4,
.contact3 h5,
.contact3 h6 {
  color: #3e4555;
}


.contact3 .font-weight-medium {
  font-weight: 500;
}

.contact3 .card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact3 .btn-outline-primary {
  background: #0275d8;
  background: -webkit-linear-gradient(legacy-direction(to right), #0275d8 0%, #5bc0de 100%);
  background: -webkit-gradient(linear, left top, right top, from(#0275d8), to(#5bc0de));
  background: -webkit-linear-gradient(left, #0275d8 0%, #5bc0de 100%);
  background: -o-linear-gradient(left, #0275d8 0%, #5bc0de 100%);
  background: linear-gradient(to right, #0275d8 0%, #5bc0de 100%);
}

.contact3 .btn-outline-primary:hover {
  background: #5bc0de;
  background: -webkit-linear-gradient(legacy-direction(to right), #5bc0de 0%, #0275d8 100%);
  background: -webkit-gradient(linear, left top, right top, from(#5bc0de), to(#0275d8));
  background: -webkit-linear-gradient(left, #5bc0de 0%, #0275d8 100%);
  background: -o-linear-gradient(left, #5bc0de 0%, #0275d8 100%);
  background: linear-gradient(to right, #5bc0de 0%, #0275d8 100%);
}

/*Spinner */
.spinner-wrapper {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 4s;
  text-decoration: #08f014;
  font-family: 'Courier New', Courier, monospace;
}


.spinner-border {
  height: 65px;
  width: 65px;
}

/* Logo */
.logo {
  text-align: left;
}

.logo img {
  width: 25%;
  image-resolution: 100 125;
}

/*Devices*/
@media(max-width:1200px) {
  html {
    font-size: 55%;
  }
}

@media(max-width:991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .footer {
    padding: 2rem 3%;
  }

  .services {
    padding-bottom: 7rem;
  }

  .service-icon img {
    width: 100%;
    height: 30vh;
  }
  .carousel-item img{
    max-height: 40vh;
    width: 100%;
  }
}

@media(max-width:768px) {
  body{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal !important;
    font-weight: 500;
    overflow-x: hidden;
  }
  navbar-nav {
    display: block;
  }
  
  h2.logo strong{
    font-size: 4rem;
    margin-left: 2.5rem;
  }

  .nav-item a {
    display: block;
    font-size: 2rem;
    margin: 0 2rem;
  }

  #abt h4, h2{
    font-size: 3rem;
    font-weight: 700;
  }
  #about h2{
    font-size: 3rem;
    font-weight: 700;
  }
  #contact h1{
    font-size: 3rem;
    font-weight: 700;
  }
  #contact button{
    width: 100%;
  }
  #contact h3{
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .btn {
    font-size: 2.5rem;
  }
  .form-control{
    font-size: 1.7rem;
  }

  h4,
  h5 {
    font-size: 2rem;
  }

  .service-icon img {
    width: 100%;
    height: 30vh;
  }
  #carouselExampleCaptions {
    margin-top: 4rem;
  }
  .carousel-item img{
    max-height: 25vh;
    width: 100%;
  }
  #services{
    padding-top: 115px;
  }
  .card-shadow img{
    width: 100%;
  }
  footer h6{
    font-size: 3rem;
    font-weight: 400;
  }
  #backToTopBtn{
    font-size: 4rem;
    width: 25px;
  }
}

@media (max-width <= 450px) {
  body{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal !important;
    font-weight: 500;
    overflow-x: hidden;
  }

  html {
    font-size: 50%;
  }
  #carouselExampleCaptions {
    margin-top: 4rem;
  }
  .carousel-item img{
    max-height: 25vh;
    width: 100%;
  }
  .card-shadow img{
    width: 100%;
  }
}

/*Accordian*/
.accordion{
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}
.accordion-button:hover{
  color: #088178;
}
.accordion-collapse{
  font: .3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}
/*Nav bar ICON */
.navbar-toggler-icon{
  font-size: 2rem;
  font-weight: bold;
}

/*Scroll up*/

#backToTopBtn {
  position: fixed;
  width: 35px;
  right: .75rem;
  bottom: 1rem;
  border-radius: 50%;
  background: #08f014;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
  font-size: 3rem;
  padding: 1rem 0;
  text-align: center;
}

#backToTopBtn:hover {
  opacity: 50%;
}

/*Typed JS*/
.auto-text {
  font-size: 2rem;
  color: var(--main-color);
  border-right: .55rem solid #074774;
}

/*Image Slider */
.carousel-item img {
  width: 100%;
  height: 50vh; 
}



/*==================== CARD PRICING ====================*/
.card__container{
  display: flex;
  gap: 1.7rem;
  margin-left: 8rem;
  flex-direction: row;
}

#price{
  padding-top: 110px;
}


.card__content {
  position: relative;
  background-color: #fff;
  padding: 2rem 1.5rem 2.5rem;
  border-radius: 1.75rem;
  box-shadow: 0 12px 24px #ccc;
  transition: .4s;
}

.card__content:hover {
  box-shadow: 0 16px 24px #ccc;
}
 
.card__header-circle {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 1rem;
  place-items: center;
}

.card__header-subtitle {
  display: block;
  font-size: 1rem;
  color: #ddd;
  text-transform: uppercase;
  margin-bottom: .1rem;
}

.card__header-title {
  font-size: 1.8rem;
  color: #000;
  margin-bottom: .3rem;
  text-align: center;
}

.card__pricing {
  position: absolute;
  background: #2a9df4;
  width: 70px;
  height: 95px;
  right: 1.5rem;
  top: -.5rem;
  padding-top: 1.25rem;
  text-align: center;
}

.card__pricing-symbol {
  font-size: 1rem;
}

.card__pricing-number {
  font-size: 0.7rem;
}

.card__pricing-number{
  color: #fff;
}

.card__pricing::after, 
.card__pricing::before {
  content: '';
  position: absolute;
}

.card__pricing::after {
  width: 100%;
  height: 14px;
  background-color: #fff;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.card__pricing::before {
  width: 14px;
  height: 16px;
  background-color: #fff;
  top: 0;
  left: -14px;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.card__list {
  row-gap: .5rem;
  margin-bottom: 1rem;
}

.card__list-item {
  list-style: none;
  display: flex;
  align-items: center;
}

.card__list-item::before{
  content: '\2728';
  margin-right: .7rem;
}

.card__list-icon {
  font-size: 1.5rem;
  color: #2a9df4;
  margin-right: 0.5rem;
}

.card__button{
  padding: 1rem;
  width: 75%;
  text-decoration: none;
  text-align: center;
  border: none;
  font-size: 1.5rem;
  border-radius: .5rem;
  background: #2a9df4;
  color: #fff;
  cursor: pointer;
  transition: .4s;
  margin-left: 4rem;
}

@media(max-width:768px) {
  .card__container{
    margin: 0;
  }
  .card__button{
    width: 100%;
    margin-left: 0;
    font-size: 3rem;
  }
  .card__header-title{
    font-size: 3rem;
    font-weight: bold;
  }
  .ttl{
    font-size: 3.5rem;
    font-weight: bold;
  }
  .card__pricing-symbol{
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .card__button{
    width: 100%;
    margin: 0;
    font-size: 3rem;
  }
  .card__header-title{
    font-size: x-large;
    font-weight: bold;
  }
  .ttl{
    font-size: x-large;
    font-weight: bold;
  }
  .card__pricing-symbol{
    font-size: 1.5rem;
  }
}