#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(188, 213, 219);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

body {
  width: 100%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #1a1a11;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#upp {
  background-image: url('../img/b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: auto;
}

.blink-soft {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

nav a:hover {
  background-color: #32bbf64a;
  text-decoration: underline;
}

footer a:hover {
  background-color: #a1e9b0f3;
  text-decoration: underline;
}

#mrr h4 {
  color: rgb(36, 203, 21);
  font-size: 40px;
  font-weight: 400;
  text-align: left;
}

#mrr p {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  padding-right: 20px;
  justify-content: left;
}

footer {
  background-color: #074774;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer p {
  font-size: 15px;
  margin: 0 0 10px 0;
}

footer a {
  font-size: 15px;
  text-decoration: none;
  color: #fefefe;
}

/* new headr css */
body {
  font-family: cursive;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #585858;
}

#header {
  background-color: #074774;
  overflow: hidden;
}

.navbar {
  padding: 15px 0;
}

.navbar-brand {}

.navbar a {
  text-decoration: none;
}

h2.logo {
  font-size: 28px;
  font-weight: 400;
  color: #fff;
}

h2.logo strong {
  font-size: 35px;
  color: #EDF828;
  font-weight: 600;
}

h2.center-logo {
  margin: 0 25px;
}

#navbarSupportedContent {
  justify-content: center;
}

ul.navbar-nav {}

ul.navbar-nav li.nav-item {
  margin-right: 25px;
}

ul.navbar-nav li.nav-item:last-child {
  margin-right: 0;
}

ul.navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #EDF828;
}

ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #EDF828;
}

/* Service CSS */
.service-box {
  padding: 20px;
  background-color: #fff;
  transition: .4s;
  transform: translateY(0);
  cursor: pointer;
}

.service-content h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(58, 58, 58);
}

.service-box:hover {
  box-shadow: 0 0 30px #eee;
  transform: translateY(-.5rem);
}

.service-content h3:hover {
  color: #106eea;
}

#services {
  padding-top: 100px;
  min-height: 100%;
}

/*contact section CSS */
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contact3 {
  color: #8d97ad;
  font-weight: 300;
  padding-top: 80px;
}

.contact3 h1,
.contact3 h2,
.contact3 h3,
.contact3 h4,
.contact3 h5,
.contact3 h6 {
  color: #3e4555;
}

.contact3 .font-weight-medium {
  font-weight: 500;
}

.contact3 .card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact3 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.contact3 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

/*back to top */
