#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgb(188, 213, 219);
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.05);
}
body{
    width: 100%;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #1a1a11;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
